@{
    ViewBag.Title = "Menú Principal";
}

<h2>MENÚ PRINCIPAL</h2>

<hr />

<div>
    @Html.ActionLink("📋 Asignar Departamento", "Create", "AsignacionDepto", null, new { @class = "btn btn-primary m-2" })

    @Html.ActionLink("💰 Crear Departamento", "Create", "Departamento", null, new { @class = "btn btn-primary m-2" })



    @Html.ActionLink("📋 Registrar Nuevo Empleado", "Create", "Empleado", null, new { @class = "btn btn-success m-2" })

    @Html.ActionLink("💰 Registrar Gerente", "Create", "GerenteDepto", null, new { @class = "btn btn-success m-2" })

    @Html.ActionLink("📋 Título Empleados", "Create", "Titulo", null, new { @class = "btn btn-success m-2" })

    @Html.ActionLink("📊 Historial, Auditoría  Reg Salarios y Reporte Nómina", "Index", "Salario", null, new { @class = "btn btn-warning m-2" })




</div>