@model WebAppNomina.Models.AsignacionDepto

<div class="container" style="margin-top:20px;">
    <h2>Registrar Asignación de Departamento</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal well">
            <h4>Detalles de la Vigencia</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="control-label col-md-2">Empleado:</label>
                <div class="col-md-10">
                    @Html.DropDownList("emp_no", null, "-- Seleccione Empleado --", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.emp_no, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Departamento:</label>
                <div class="col-md-10">
                    @Html.DropDownList("dept_no", null, "-- Seleccione Departamento --", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.dept_no, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.from_date, "Fecha Desde:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.from_date, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                    @Html.ValidationMessageFor(model => model.from_date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.to_date, "Fecha Hasta:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.to_date, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                    @Html.ValidationMessageFor(model => model.to_date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar Asignación" class="btn btn-primary" />
                    @Html.ActionLink("Volver al Listado", "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    }
</div>
